.hero{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  height: 100vh;
  font-family: var(--font-main);
  background-color: var(--bg-primary);
}

.hero h1{
  font-size: 3rem;
  max-width: 500px;
  text-align: center;
  color: var(--pink-color);
}

.hero p{
  max-width: 550px;
  font-size: 1.25rem;
  text-align: center;
  color: #454545;
}

.hero-btns{
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.hero-btns button{
  border: none;
  padding: 10px 20px;
  border-radius: 20px;

  font-size: 1.2rem;
  cursor: pointer;
  box-shadow:5px 5px 20px rgba(0, 0, 0, 0.3);

  background-color: #ff5e5e;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.hero-btns button:hover{
  transform: scale(1.05);
}

.hero-btns button.light-btn{
  background: white;
  color: #ff5e5e;
}

.hero img{
  position: absolute;
  bottom: 0;
  height: 280px;
  width: 100%;
  object-fit: cover;
}
