.adopt h2{
    font-size: 2.5rem;
    font-family: var(--font-main);
    text-align: center;
    padding-block: 30px;
    background-color: var(--blue-color);
    color: rgb(33, 32, 32);
}

.adopt-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-inline: 10%;
    margin-block:40px 80px;
    row-gap: 70px;
}

.adopt-card{
    padding: 20px;
    font-family: var(--font-secondary);
    max-width: 560px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.adopt-card-flex{
    display: flex;
    align-items: center;
    gap: 10px;
}

.adopt-image-wrapper{
    width: 200px;
    height: 250px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
}

.adopt-image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adopt-card .adopt-btn{
    position: absolute;
    left:30%;
    bottom: -35px;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--bg-secondary);
    color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

.adopt-card .adopt-btn:hover{
    transform: scale(1.05);
    background-color: #ef831d;
}

.adopt-card .adopt-btn .icon{
    margin-left: 15px;
    font-size: 1.6rem;
}


.adopt-info .data{
    display: flex;
    gap: 8px;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
}

.adopt-info .data:nth-child(1){
    margin-bottom: 25px;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--pink-color);
}

