.story{
    height: 600px;
    display: flex;
}

.title{
    flex-basis: 18%;
    background-color: var(--bg-secondary);
    color: white;
    padding: 40px;
}

.title h1{
    font-size: 4rem;
    margin-bottom: 3rem;
}

.title p{
    font-size: 1.2rem;
    font-family: var(--font-secondary);
}

.story-wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    font-family: var(--font-secondary);
}

.story-wrapper button{
    font-size: 2rem;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: var(--pink-color);
    color: white;
    cursor: pointer;
}

.story-slider{
    width: 700px;
    display: flex; 
    white-space: nowrap;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.story-card{
    margin: 0 30px;
    max-width: 800px;
}

.story-card-title{
    padding-block: 20px;
    font-weight: 600;
    color: var(--pink-color);
}

.story-card-image img{
    width: 300px;
    height: 250px;
    margin-inline: 10px;
    object-fit: cover;
}

.story-card .story-card-text{
    max-width: 800px;
    margin-block: 30px;
    font-size: 1.2rem;
    text-wrap: wrap;
    font-family: var(--font-secondary);
}

.story-card .story-card-text .name{
    text-align: right;
    margin-top: 30px;
}