nav{
  background: transparent;
  padding:20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  font-family: var(--font-main);
  transition: 0.3s;
}

.dark-nav{
  background-color: var(--pink-color);
  color: white;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.3);
}

nav .menu-btn{
  font-size: 22px;
  display: none;
}

.nav-left{
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 1.3rem;
  cursor: pointer;
}

.nav-left .logo{
  font-size: 1.5rem;
}

.nav-right ul{
  display: flex;
  gap: 24px;
}

.nav-right ul li{
  list-style: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav-right ul li:hover{
  color: var(--pink-color);
}

.dark-nav .nav-right ul li:hover{
  color: rgb(195, 7, 7);
}




@media (max-width: 800px){
  nav .menu-btn{
    display: block;
  }

  .nav-right{
    position: fixed;
    top: 12%;
    right: 2%;
    width: 200px;
    z-index: -1;
    transition: 0.5s;
    border-radius: 20px;
    background-color: var(--pink-color);
    color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  }

  .nav-right ul{
    padding: 30px 0 10px 20px;
    display: block;
  }

  .nav-right ul li{
    margin-bottom: 30px;
  }

  .hide-menu{
    right: -200px;
  }
}