footer{
  background: var(--pink-color);
  padding:20px 8%;
  color: white;
}

footer .copyright{
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left{
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 1.3rem;
  cursor: pointer;
}

.nav-left .logo{
  font-size: 1.5rem;
}

.footer-right ul{
  display: flex;
  gap: 24px;
}

.footer-right ul li{
  list-style: none;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer-right ul li:hover{
  color: rgb(122, 4, 4);
}




@media (max-width:800px){
  footer{
    padding:20px 4%;
  }

  .footer-left{
    gap: 10px;
    font-size: 1.1rem;
  }

  .footer-right ul{
    gap: 12px;
  }
  
  .footer-right ul li{
    font-size: 1rem;
  }
}


@media (max-width:600px){
  .footer-content{
    flex-direction: column;
    gap: 10px;
  }
}